@use '../abstract/mixins' as mx;

.btn {
    @include mx.flex-center;
    cursor: pointer;
    border: none;
    &_start {
        font-size: 40px;
        font-weight: bold;
        background: rgb(240, 234, 110);
        width: 344px;
        height: 100px;
        gap: 25px;
        transition: transform 0.45s ease;
        &_arrow {
            width: 50px;
            height: 20px;
            transition: height 0.45s ease;
        }
    }
    &_game-start {
        font-size: 20px;
        font-weight: bold;
        background: rgb(240, 234, 110);
        width: 126px;
        height: 53px;
        margin: 0 10px 0 25px;
        transition: transform 0.45s ease;
    }

    &_transparent {
        background: transparent;
    }

    &_exit {
        width: 200px;
        height: 74px;
    }
    
}

.dialog-buttons {
    button {
        padding-inline: 0;
        padding-block: 0;
    }
}