@use '../abstract/mixins' as mx;

.btn {
    @include mx.flex-center;
    cursor: pointer;
    border: none;
    &_start {
        font-size: 40px;
        font-weight: bold;
        background: rgb(240, 234, 110);
        width: 344px;
        height: 100px;
        gap: 25px;
        transition: transform 0.45s ease;
        &_arrow {
            width: 50px;
            height: 20px;
            transition: height 0.45s ease;
        }
    }
    &_game-start {
        font-size: 20px;
        font-weight: bold;
        background: rgb(240, 234, 110);
        width: 126px;
        height: 53px;
        margin: 0 10px 0 25px;
        transition: transform 0.45s ease;
    }

    &_exit {
        width: 217px;
        height: 62px;
        gap: 10px;
        opacity: 1;
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
    }
}


.theme-code {
    
    .btn_exit {
        background: rgb(65, 86, 82);
        border: 1px solid rgb(77, 213, 188);
        font-family: Red Rose;
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: white;
        box-sizing: border-box;
    }

    .btn_exit:hover {
        border-width: 3px;
    }

    #cancelExitBtn {
        background: #66cfbc;
        color: white;
        border: 3px solid #66cfbc;
        width: 182px;
    }

    #confirmExitBtn {
        background: #eefcf9;
        border: 1px solid rgb(77, 213, 188);
        color: rgb(77, 213, 188);
        width: 148px;
    }

    #cancelExitBtn:hover {
        background: #66cfbcaf;   
    }

    #confirmExitBtn:hover {
        background: #66cfbc56; 
        border: 3px solid rgba(77, 213, 188);
    }
}

.theme-gaming {
    dialog {
        border-radius: 8px;
    }

    .btn_exit {
        background: transparent;
        border: 1px solid rgb(231, 28, 79);
        font-family: Orbitron;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 4%;
        border-radius: 10px;
        color: white;
    }

    .btn_exit:hover {
        border-width: 3px;
    }

    #cancelExitBtn {
        background: rgb(231, 28, 79);
        color: white;
        border: 3px solid rgb(231, 28, 79);
        border-radius: 10px;
        width: 201px;
    }

    #confirmExitBtn {
        background: rgb(231, 28, 79, 0.075);
        border: 1px solid rgb(231, 28, 79);
        color: rgb(231, 28, 79);
        border-radius: 10px;
        width: 176px;
    }

    #cancelExitBtn:hover {
        background: white;
        color: rgb(231, 28, 79);
    }

    #confirmExitBtn:hover {
        background: rgba(231, 28, 79, 0.2);
        border: 3px solid rgb(231, 28, 79);
    }

}

.theme-da {
    dialog {
        border-radius: 8px;
    }

    .btn_exit {
        background: #BFE5F2;
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        border-radius: 10px;
        color: #1E7594;
    }

    .btn_exit:hover {
        background: #16586E;
        color: white;
    }

    #cancelExitBtn {
        background: rgb(191,229,242);
        color: #1E7594;
        border-radius: 10px;
        width: 140px;
    }

    #confirmExitBtn {
        background: rgb(253,138,129);
        color: white;
        border-radius: 10px;
        width: 114px;
    }

    #cancelExitBtn:hover {
        background: #16586E;
        color: white; 
    }

    #confirmExitBtn:hover {
        background: rgb(248, 102, 92);
    }
}
