@use '../abstract/mixins' as mx;

.btn {
    @include mx.flex-center;
    cursor: pointer;
    
    &_start {
        font-size: 40px;
        font-weight: bold;
        background: rgb(240, 234, 110);
        width: 344px;
        height: 100px;
        gap: 25px;
    }
    &_game-start {
        font-size: 20px;
        font-weight: bold;
        background: rgb(240, 234, 110);
        width: 126px;
        height: 53px;
    }

    &_transparent {
        background: transparent;
    }

    &_exit {
        width: 200px;
        height: 74px;
    }
    
}
