@use '../abstract/mixins' as mx;

dialog {
    width: 50%;
    left: 25%;
    right: auto;
    height: 30%;
    top: 35%;
    bottom: auto;
    border: none;

    &[open] {
        @include mx.flex-center;
    }

    form {
        @include mx.flex-center;
        @include mx.fd-column;
        gap: 40px
    }

    
}

.dialog-buttons {
    @include mx.flex-center;
    gap: 20px;
    
    button {
        height: 57px;
        padding: 0 20px;
    }
}


