@use '../abstract/mixins' as mx;

dialog {
    width: 40%;
    left: 30%;
    height: 25%;
    top: 25%;
    border: none;

    &[open] {
        @include mx.flex-center;
    }

    form {
        @include mx.flex-center;
        @include mx.fd-column;
    }

    
}

.dialog-buttons {
    @include mx.flex-center;
    gap: 20px;
    
    button {
        height: 57px;
        padding: 0 20px;
    }
}


