@use '../abstract/mixins' as mx;

dialog {
    width: 40%;
    left: 30%;

    &[open] {
        @include mx.flex-center;
    }

    button {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
    }
}