$sizes: (
    zero: 0px,
    s: 8px,
    m: 16px,
    l: 24px
);

@each $name, $size in $sizes {
    .text-#{$name} {
        font-size: $size;
    }
}

.txt {
    font-weight: bold;
}

p {
    padding: 5px;
}

.orange {
    color: orange;
}

.blue {
    color: rgb(43, 177, 255);
}

.theme-code {
    background: rgb(48, 49, 49);
    font-family: Red Rose;
    font-weight: 700;
    font-size: 32px;


}

.theme-gaming {
    background: rgb(48, 49, 49);
    font-family: Orbitron;
    font-weight: 700;
    font-size: 28px;


}

.theme-da {
    background: rgb(48, 49, 49);
    font-family: Figtree;
    font-weight: 700;
    font-size: 28px;
  

}