@use '../abstract/mixins' as mx;

header {
    @include mx.flex-center;
    justify-content: space-evenly !important;
}

.theme-code {
    background: rgb(48, 49, 49);
    
}

.theme-gaming {
    background: rgb(48, 49, 49);
    
}

.theme-da {
    background: rgb(48, 49, 49);
    
}

