@use '../abstract/mixins' as mx;

.choosing-headline {
    @include mx.flex-center;
    @include mx.text-left;
    margin-left: -30px;
}

h2 {
    font-size: 54px;
}

#themeDisplay {
    width: 100px;
}

#playerDisplay {
    width: 100px;
}

.headline-container {
    h2 {
        font-family: Red Rose;
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }
}

@media (max-width: 950px) {

   #themeDisplay {
    width: 80px;
    }

    #playerDisplay {
        width: 80px;
    }
}

@media (max-width: 700px) {

    #themeDisplay {
    width: 60px;
    }

    #playerDisplay {
        width: 60px;
    }
}