@use '../abstract/mixins' as mx;

.start-page {
    height: 100vh;
    background: rgb(47, 49, 49);
    @include mx.flex-center;
}

.phrase {
    font-size: 48px !important;
}

.headline {
    font-size: 140px !important;
}

.design-img {
    position: absolute;
    bottom: 0;
    left: 0;
}