@use '../abstract/mixins' as mx;

body {
    height: 100vh;
}

.max-content {
    max-width: 1440px;
}

#playGround {
    @include mx.flex-center;
    display: grid;
    
    
}

.grid6x {
    grid-template-columns: auto auto auto auto auto auto;
}

.grid4x {
    grid-template-columns: auto auto auto auto;
}