
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fd-column {
    display: flex;
    flex-direction: column;
}

@mixin text-left {
    display: flex;
    justify-content: flex-start !important;
}